# Unity generated
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/

# IDE
/.idea/
/.vs/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# Crashlytics
crashlytics-build.properties

# Editor crash artifacts
mono_crash.*.json
/Assets/_Recovery/
/Assets/_Recovery.meta

# Asset import overrides
ExportedObj/
*.apk
*.aab
*.unitypackage
*.app
